:root {
  --default-nav-bg: #932ead;
  --default-bg: white;

  --default-nav-text: white;
  --default-text: black;

  --click-effect-color: white;
  --hover-effect-color: rgba(0, 0, 0, 0.418);
}

.custom-nav {
  width: 100%;
  background-color: var(--default-nav-bg);
  padding-bottom: 15px;
  padding-top: 15px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

#navbar, #navbar4, #navbar-nav{
  height: 5vh;
}

#navbar-nav{
  position: relative;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}

.navbar{
  padding-top: 0;
  padding-bottom: 0;
}

.custom-nav .nav-link,
.navbar-brand {
  color: var(--default-nav-text);
}

.navbar-brand:hover {
  color: var(--default-nav-text);
}

.navbar-brand {
  width: 100%;
}

.Logo img {
  max-height: 50px;
  border-radius: 5%;
  margin-right: 10px;
}

.user-tools a {
  margin: 5px;
  color: var(--default-nav-text);
}

#Hamburger{
  display: inline-block;
}

.d-menu{
  height: 100%;
}

.banner-img{
  width: 100%;
  height: 50vh;
}

.fullWidthBanner img{
  width: 100%;
}

/* Special Effects */
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  border: 1px solid transparent;
}
.ripple:hover {
  background: var(--hover-effect-color) radial-gradient(circle, transparent 1%, var(--hover-effect-color) 1%) center/15000%;
  border: 1px solid #dee2e6;
}
.ripple:active {
  background-color: var(--click-effect-color);
  background-size: 100%;
  transition: background 0s;
}

.ico-btn {
  border-radius: 5%;
  padding: 10px 13px;
  cursor: pointer;
  color: white;
}

.dropdown-toggle::after {
  display: none;
}
.text-decoration-none {
  text-decoration: none !important;
}
/* Font Awesome Icons have variable width. Added fixed width to fix that.*/
.icon-width {
  width: 2rem;
}

#FullWidthCarousel1, #OfferBanner1, #OfferBanner2, #OfferBanner3{
  margin: 5vh 0;
}

/* Breakpoint based Customization */
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .carousel-item img{
    height: 20vh !important;
  }

  .Logo{
    width: 50%;
    margin: 0;
  }

  .Logo, #Hamburger{
    display: inline;
  }
  
  #navbar, #navbar4, #navbar-nav{
    height: auto;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .carousel-item img{
    height: 40vh;
  }
}