<div class="container product-grid">
    <div class="row">
        <h1 class="heading"><span>Heading</span></h1>
        <div class="col-md-4">
            <div class="card discount-style-1" style="margin: 1rem;">
                <h2>30%</h2>
                <img src="./../assets/dev/empty-placeholder-image-icon-design-260nw-1366372628.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Product Name</h5></a>
                    <p class="card-text price">$500</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="margin: 1rem;">
                <img src="./../assets/dev/empty-placeholder-image-icon-design-260nw-1366372628.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Product Name</h5></a>
                    <p class="card-text price">$500</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card discount-style-1" style="margin: 1rem;">
                <h2>30%</h2>
                <img src="./../assets/dev/empty-placeholder-image-icon-design-260nw-1366372628.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Product Name</h5></a>
                    <p class="card-text price">$500</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="margin: 1rem;">
                <img src="./../assets/dev/empty-placeholder-image-icon-design-260nw-1366372628.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Product Name</h5></a>
                    <p class="card-text price">$500</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="margin: 1rem;">
                <img src="./../assets/dev/empty-placeholder-image-icon-design-260nw-1366372628.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Product Name</h5></a>
                    <p class="card-text price">$500</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .card:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        cursor: pointer;
    }

    .product-grid a{
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        text-decoration: none;
        color: var(--default-text);
    }

    .product-grid a:hover{
        color: var(--default-nav-bg);
    }

    .price{
        color: var(--default-price-text);
    }

    h1.heading {
        color: #BFA170;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
    }

    h1.heading span {
        background-color: var(--default-bg);
        display: inline-block;
        z-index: 1;
        padding-right: 10px;
    }

    h1.heading:before {
        content: "";
        background-color: var(--default-heading-style-color);
        display: block;
        position: relative;
        top: 23px;
        width: 100%;
        height: 6px;
        z-index: -1;
    }



    div.discount-style-1:before, div.discount-style-1:after {
        bottom: 26px;
        box-shadow: 0 28px 8px rgba(0,0,0,0.5);
        content: "";
        height: 28px;
        position: absolute;
        width: 48%;
        z-index: -1;
    }
    div.discount-style-1:before {
        left: 2%;
        transform: rotate(-3deg);
    }
    div.discount-style-1:after {
        right: 2%;
        transform: rotate(3deg);
    }
    div.discount-style-1 h2 {
        background-color: var(--discount-style-bg-color);
        border-width: 1px 1px 2px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5);
        margin: 0;
        padding: 4px 40px;
        position: absolute;
        right: -14px;
        top: 12px;
    }
    div.discount-style-1 h2:after {
        border-width: 7px;
        border-style: solid;
        border-color: #134 transparent transparent #134;
        bottom: -15px;
        content: "";
        position: absolute;
        right: -1px;
    }
</style>